<div ng-app="Platzi" ng-controller="BaseCtrl">


<h1>Hello world<h1>
<ul>
<li ng-repeat="thing in things"></li>
<span>{{things.name}}</span>
</ul>
</div>


<script>

angular.module('Platzi',[]);
angular.module('Platzi').controller('BaseCtrl',['$scope', function($scope){
  

  $scope.things=[{
  id :123123,
  name: 'foo'
  }];
}])
alert ('!');
</script>